# Logs
logs
*.log

# Coverage directory
**/coverage

# Build output
build

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

__tests__
test
